body {
  margin: 0;
  padding: 0;
  font-family: 'Sofia', 'Courier New', Courier, monospace;

}
.header {
background-color: rgb(37, 34, 34);
padding: 20px;

}
.header > h1 {
  color: 	rgb(30, 124, 233);
  text-align: left;
  font-size: 30px;
  font-style: italic;
}
.search-bar {
  margin-left: 30%;
  padding: 20px;
  display: block;

}
.search-bar > .search {
  left: 30%;
  height: 50px;
  width: 496px;
  font-size: 15px;
}
.search-button {
display: inline;
height: 50px;
width: 70px;
background-color: rgb(30, 124, 233);
}