<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/master.css">
  <title>Weather App</title>
  <style>
    * {
      margin: 0;
      padding: 0;
    }
    .header {
    background-color: aquamarine;
    padding: 20px;
    }
    .header > h1 { 
      color: black;
      text-align: center;
      font-size: 30px;
      font-family: 'Courier New', Courier, monospace;
    }
  </style>
</head>
<body>
  <div class="header">
    <h1>Seach For Any City</h1>
  </div>
</body>
</html>